@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Didact Gothic', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*@layer base {*/
body {
  font-family: 'Didact Gothic', sans-serif;
  margin: 0;
  /* background-color: rgb(199, 253, 218); */

  background: -webkit-linear-gradient(to right, #c8ffbf, #c4ffdc, #caf5fa);
  background: linear-gradient(to right, #c8ffbf, #c4ffdc, #caf5fa);
  max-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*}*/

svg {
  display: flex;
  align-items: center;
}

code {
  font-family: 'Didact Gothic', sans-serif, monospace;

}